/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(194, 194, 194);
}

a {
  text-decoration: none;
}

.container {
  width: 50vw;
  height: auto;
}

.child {
  border: 3px solid rgb(204, 204, 204);
  padding: 3rem;
  border-radius: 5px;
}

.sign_up {
  background: none;
  border: none;
  color: gray;
  width: 25vw;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign_in {
  border: none;
  width: 25vw;
  padding: 0.5rem;
  color: #3778c2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign_up:hover {
  background: #3778c2;
}

.heading {
  color: rgb(90, 89, 89);
  margin-top: 1rem;
}

.btn1 {
  margin-bottom: 3rem;
  width: 25vw;
  height: auto;
}

.navbar {
  background-color: #3778c2;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
}

.navbar-brand {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.backarrow {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
}

.text-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.p {
  display: flex;
  flex-direction: row;
  color: white;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100vw;
    height: auto;
  }

  .child {
    border: none;
  }

  .img {
    width: 100vw;
    height: 100vh;
    margin-top: 1rem;
  }

  .btn1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .auth {
    width: 90vw;
    height: auto;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .full-width {
    width: 100vw;
    height: auto;
  }

  .sign_in {
    color: aliceblue;
  }

  .sign_up {
    background: none;
    border: none;
    color: gray;
  }

  .sign_up:hover {
    background: #3778c2;
  }

  .session {
    width: 100vw;
    height: 100vh;
  }

  .categories {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5fb523;
    color: aliceblue;
    padding: 1.5rem;
  }

  .text-border {
    border: 1px solid white;
    padding: 1rem 3.5rem;
    color: white;
  }

  .card-bg {
    background-color: aliceblue;
    color: black;
  }

  .pr {
    width: 70%;
  }

  .p {
    display: flex;
    flex-direction: row;
    color: white;
    margin-left: 10px;
  }

  .log {
    margin-left: 10px;
  }

  .navbar {
    background-color: #3778c2;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  .navbar-brand {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .backarrow {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
  }
}
